# Import Library

In [35]:
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('operations').getOrCreate()

from pyspark.sql.functions import col, sum as sum_

# 1 - BU

The detial information about BU is addressed in Itertion-4 report Section - 1.

# 2- DU

In [41]:
# load the csv file
df = spark.read.csv('Datasets/heart_dataset_1.csv', inferSchema=True, header=True)

df.columns

['index',
 'id',
 'age',
 'gender',
 'height',
 'weight',
 'ap_hi',
 'ap_lo',
 'cholesterol',
 'gluc',
 'smoke',
 'alco',
 'active',
 'cardio']

In [43]:
df.printSchema()

df.show()

root
 |-- index: integer (nullable = true)
 |-- id: integer (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- height: integer (nullable = true)
 |-- weight: double (nullable = true)
 |-- ap_hi: integer (nullable = true)
 |-- ap_lo: integer (nullable = true)
 |-- cholesterol: integer (nullable = true)
 |-- gluc: integer (nullable = true)
 |-- smoke: integer (nullable = true)
 |-- alco: integer (nullable = true)
 |-- active: integer (nullable = true)
 |-- cardio: integer (nullable = true)

+-----+---+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
|index| id|  age|gender|height|weight|ap_hi|ap_lo|cholesterol|gluc|smoke|alco|active|cardio|
+-----+---+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
|    0|  0|18393|     2|   168|  62.0|  110|   80|          1|   1|    0|   0|     1|     0|
|    1|  1|20228|     1|   156|  85.0|  140|   90|          3|   1|    0|   0|     1|     1|
|    2|  2|18857|     1|   165|  64.0|  130|   70|          3|   1|    0|   0|     0|     1|
|    3|  3|17623|     2|   169|  82.0|  150|  100|          1|   1|    0|   0|     1|     1|
|    4|  4|48Yrs|     1|   156|  56.0|  100|   60|          1|   1|    0|   0|     0|     0|
|    5|  8|21914|     1|   151|  67.0|  120|   80|          2|   2|    0|   0|     0|     0|
|    6|  9|22113|     1|   157|  93.0|  130|   80|          3|   1|    0|   0|     1|     0|
|    7| 12|22584|     2|   178|  95.0|  130|   90|          3|   3|    0|   0|     1|     1|
|    8| 13|17668|     1|   158|  71.0|  110|   70|          1|   1|    0|   0|     1|     0|
|    9| 14|19834|     1|   164|  68.0|  110|   60|          1|   1|    0|   0|     0|     0|
|   10| 15|22530|     1|   169|  80.0|  120|   80|          1|   1|    0|   0|     1|     0|
|   11| 16|18815|     2|   173|  60.0|  120|   80|          1|   1|    0|   0|     1|     0|
|   12| 18|14791|     2|   165|  60.0|  120|   80|          1|   1|    0|   0|     0|     0|
|   13| 21|19809|     1|   158|  78.0|  110|   70|          1|   1|    0|   0|     1|     0|
|   14| 23|14532|     2|   181|  95.0|  130|   90|          1|   1|    1|   1|     1|     0|
|   15| 24|16782|     2|   172| 112.0|  120|   80|          1|   1|    0|   0|     0|     1|
|   16| 25|21296|     1|   170|  75.0|  130|   70|          1|   1|    0|   0|     0|     0|
|   17| 27|16747|     1|   158|  52.0|  110|   70|          1|   3|    0|   0|     1|     0|
|   18| 28|17482|     1|   154|  68.0|  100|   70|          1|   1|    0|   0|     0|     0|
|   19| 29|21755|     2|   162|  56.0|  120|   70|          1|   1|    1|   0|     1|     0|
+-----+---+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
only showing top 20 rows

In [53]:
df.orderBy(df['Index'].desc()).show(20)

+-----+-----+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
|index|   id|  age|gender|height|weight|ap_hi|ap_lo|cholesterol|gluc|smoke|alco|active|cardio|
+-----+-----+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
|68999|98569|19591|     2|   175|  88.0|  120|   80|          1|   1|    0|   0|     0|     1|
|68998|98568|19107|     1|   154|  77.0|   14|   90|          1|   1|    0|   0|     1|     0|
|68997|98567|21682|     1|   158|  78.0|  130|   90|          1|   1|    0|   0|     1|     1|
|68996|98566|20430|     1|   159| 105.0|  120|   80|          1|   1|    0|   0|     1|     1|
|68995|98565|17548|     2|   173|  72.0|  120|   80|          1|   1|    0|   0|     0|     0|
|68994|98564|18949|     2|   172|  62.0|  110|   70|          1|   1|    1|   0|     1|     0|
|68993|98563|14643|     2|   175|  75.0|  100|   70|          1|   1|    0|   0|     1|     0|
|68992|98562|17574|     1|   157|  63.0|  150|  100|          1|   1|    0|   0|     1|     0|
|68991|98561|21787|     1|   168|  70.0|  140|   90|          3|   1|    0|   0|     1|     1|
|68990|98559|20508|     2|   173|  91.0|  140|   90|          1|   1|    0|   1|     1|     0|
|68989|98558|20414|     2|   175|  78.0|  120|   80|          2|   1|    0|   0|     0|     1|
|68988|98557|14387|     2|   174|  99.0|  150|   90|          3|   1|    1|   1|     1|     1|
|68987|98556|16115|     2|   175| 129.0|  120|   80|          1|   2|    0|   0|     1|     0|
|68986|98555|22001|     1|   162|  65.0|  120|   80|          1|   1|    0|   0|     1|     0|
|68985|98554|22816|     2|   168|  70.0|  120|   80|          1|   1|    0|   0|     0|     0|
|68984|98551|19893|     1|   149|  56.0|  120|   80|          1|   1|    0|   0|     1|     0|
|68983|98550|21868|     2|   170|  74.0|  120|   80|          3|   3|    1|   0|     1|     0|
|68982|98549|20448|     1|   157|  75.0|  100|   80|          1|   1|    0|   0|     0|     1|
|68981|98548|21088|     1|   160|  80.0|  120|   70|          1|   2|    0|   0|     1|     1|
|68980|98547|20492|     1|   170|  76.0|  120|   80|          1|   1|    0|   0|     0|     0|
+-----+-----+-----+------+------+------+-----+-----+-----------+----+-----+----+------+------+
only showing top 20 rows

In [54]:
df.count()

69000

In [11]:
df.select('index').distinct().count()

69000

In [12]:
df.select('id').distinct().count()

69000

In [13]:
df.select('age').distinct().count()

8074

In [14]:
df.select('height').distinct().count()

109

In [15]:
df.select('weight').distinct().count()

285

In [16]:
df.select('ap_hi').distinct().count()

152

In [17]:
df.select('ap_lo').distinct().count()

156

In [18]:
df.select('cholesterol').distinct().count()

4

In [19]:
df.select('gluc').distinct().count()

3

In [20]:
df.select('smoke').distinct().count()

2

In [21]:
df.select('alco').distinct().count()

2

In [22]:
df.select('active').distinct().count()

2

In [23]:
df.select('cardio').distinct().count()

2

In [55]:
df.select('age','gender','height','weight').describe().show()

+-------+------------------+-------------------+------------------+-----------------+
|summary|               age|             gender|            height|           weight|
+-------+------------------+-------------------+------------------+-----------------+
|  count|             69000|              69000|             69000|            69000|
|   mean|19469.362175167036| 1.3495217391304348|164.35059420289855|74.21126086956522|
| stddev|2467.2731299236907|0.47682238629511076| 8.211304686499416|14.40431106828465|
|    min|             10798|                  1|                55|             10.0|
|    max|             48Yrs|                  2|               250|            200.0|
+-------+------------------+-------------------+------------------+-----------------+

In [31]:
df.select('ap_hi','ap_lo','cholesterol','gluc').describe().show()

+-------+------------------+------------------+------------------+------------------+
|summary|             ap_hi|             ap_lo|       cholesterol|              gluc|
+-------+------------------+------------------+------------------+------------------+
|  count|             69000|             69000|             68997|             69000|
|   mean|128.80997101449276| 96.65495652173912|1.3673637984260185|1.2263623188405797|
| stddev|154.94479317115955|189.36793185426143|0.6805505273319785|0.5722543067125166|
|    min|              -150|               -70|                 1|                 1|
|    max|             16020|             11000|                 3|                 3|
+-------+------------------+------------------+------------------+------------------+

In [32]:
df.select('smoke','alco','active','cardio').describe().show()

+-------+-------------------+-------------------+-------------------+-------------------+
|summary|              smoke|               alco|             active|             cardio|
+-------+-------------------+-------------------+-------------------+-------------------+
|  count|              69000|              69000|              69000|              69000|
|   mean|0.08828985507246377|0.05376811594202899| 0.8040434782608695|0.49972463768115943|
| stddev|0.28371803462474876|0.22556117354304892|0.39693808938305636| 0.5000035474028258|
|    min|                  0|                  0|                  0|                  0|
|    max|                  1|                  1|                  1|                  1|
+-------+-------------------+-------------------+-------------------+-------------------+

In [36]:
# Check for missing values in each column
missing_values = df.agg(*[(sum_(col(c).isNull().cast("int"))).alias(c) for c in df.columns])

missing_values.show()

+-----+---+---+------+------+------+-----+-----+-----------+----+-----+----+------+------+
|index| id|age|gender|height|weight|ap_hi|ap_lo|cholesterol|gluc|smoke|alco|active|cardio|
+-----+---+---+------+------+------+-----+-----+-----------+----+-----+----+------+------+
|    0|  0|  0|     0|     0|     0|    0|    0|          3|   0|    0|   0|     0|     0|
+-----+---+---+------+------+------+-----+-----+-----------+----+-----+----+------+------+

# 3 - DP

# 4 - DT

# 5 - DMM

The detial information about DMM is addressed in Itertion-4 report Secion - 5

# 6 - DMA

# 7 - DM

# 8 - INT

# 9 - ACT

Desribe the Action Plan to Implement, Observe and Improve